.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.result-container {
  border-color: black;
  border-radius: 20px;
  color:  white;
  text-align: center;
  background-color:#282c34;
}